@import "Catppuccin-Mocha.css";

* {
    font-size: 14px;
    font-family: "FreeMono Bold";
}

window#waybar {
    all: unset;
}

.modules-left, .modules-center, .modules-right {
    padding: 7px;
    margin: 5px;
    border-radius: 10px;
    background: @base;
    border-top: 1px solid @sky;
    border-bottom: 1px solid @sky;
    box-shadow: 0px 0px 2px alpha(black, .5);
}

tooltip {
    background: @base;
}

#idle_inhibitor:hover, #clock:hover,
#wireplumber:hover, #pulseaudio:hover,
#network:hover, #cpu:hover, #memory:hover, #disk:hover {
    transition: all .3s ease;
    color: @blue;
}

#workspaces, #window,
#idle_inhibitor, #clock,
#group-expand, #cpu, #memory, #disk, #custom-endpoint,
#wireplumber, #pulseaudio, #network {
    padding: 0px 5px;
    color: @text;
    transition: all .3s ease;
}

#workspaces button {
    all: unset;
    padding: 0px 8px;
    color: @subtext0;
    transition: all .5s ease;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
    color: @crust;
    border: none;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.active {
    color: @green;
    border: none;
    transition: all .5s ease;
}

#workspaces button:hover {
    transition: all .5s ease;
    color: @blue;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, .6);
}

#custom-expand {
    padding: 0px 5px;
    color: @subtext0;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
    transition: all .3s ease; 
}

#custom-expand:hover {
    color: @blue;
    text-shadow: 0px 0px 2px alpha(@text, .5);
}

#custom-endpoint {
    color: transparent;
    text-shadow: 0px 0px 2px alpha(@text, 1);
}

#cpu.low, #memory.low, #disk.low {
    color: @green;
}

#cpu.medium, #memory.medium, #disk.medium {
    color: @yellow;
}

#cpu.high, #memory.high, #disk.high,
#wireplumber.high, #wireplumber.muted, #pulseaudio.source-muted,
#network.disconnected {
    color: @red;
}
