* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 10px;
    min-height: 10px;
}

@import "mocha.css";

window#waybar {
    background: transparent;
}

tooltip {
    background: @base;
    color: @text;
    margin: 10px;
    border-radius: 7px;
    border-width: 1px;
    border: 1px solid @overlay2;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    border-radius: 21px;
    padding: 0px 3px;
    margin: 3px 0px;
    color: @text;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    background: @sky;
    color: @base;
    margin: 3px 3px;
    padding: 0px 12px;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: @teal;
    color: @base;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tray menu * {
    min-height: 16px;
}

#tray menu separator {
    min-height: 10px;
}

#cpu.low,
#memory.low,
#disk.low { color: @green; }

#cpu.medium,
#memory.medium,
#disk.medium { color: @yellow; }

#cpu.high,
#memory.high,
#disk.high,
#wireplumber.high,
#wireplumber.muted,
#pulseaudio.source-muted { color: @red; }

#backlight,
#clock,
#cpu,
#custom-power,
#custom-notification,
#disk,
#idle_inhibitor,
#language,
#memory,
#network,
#pulseaudio,
#wireplumber,
#custom-spotify,
#taskbar,
#tray,
#window,
#workspaces,
#custom-l_end,
#custom-r_end {
    color: @text;
    background: @base;
    opacity: 1;
    margin: 5px 0px;
    padding: 0px 4px;
    border-top: 1px solid @overlay2;
    border-bottom: 1px solid @overlay2;
}

#workspaces,
#taskbar {
    padding: 0px;
}

#custom-r_end {
    border-radius: 0px 21px 21px 0px;
    margin-right: 9px;
    padding-right: 3px;
}

#custom-l_end {
    border-radius: 21px 0px 0px 21px;
    margin-left: 9px;
    padding-left: 3px;
}
