* {
    font-family: "CaskaydiaMono Nerd Font Mono";
    font-weight: bold;
    font-size: 8pt;
    min-height: 10px;
}

@import "Catppuccin-Mocha.css";

window#waybar { background: transparent; }

tooltip {
    color: @text;
    background: @base;
    margin: 10px;
    border: 1px solid @overlay2;
    border-radius: 10px;
    border-width: 1px;
}

#workspaces button {
    color: @text;
    padding: 0px 5px;
    margin: 5px 1px;
    border-radius: 5px;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    color: @base;
    background: @sky;
    animation: ws_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    color: @base;
    background: @teal;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#tray menu * { min-height: 16px; }

#tray menu separator { min-height: 2px; }

#cpu.low,
#memory.low,
#disk.low { color: @green; }

#cpu.medium,
#memory.medium,
#disk.medium { color: @yellow; }

#cpu.high,
#memory.high,
#disk.high,
#wireplumber.high,
#wireplumber.muted,
#pulseaudio.source-muted { color: @red; }

#custom-power, #custom-reboot, #custom-suspend, #custom-logout, #custom-lock,
#idle_inhibitor, #clock,
#workspaces, #tray,
#window,
#cpu, #memory, #disk,
#backlight, #network, #wireplumber, #pulseaudio, #custom-notification,
#custom-r_end, #custom-l_end {
    color: @text;
    background: @base;
    margin: 2px 0px;
    padding: 0px 4px;
    border-top: 1px solid @overlay2;
    border-bottom: 1px solid @overlay2;
}

#custom-r_end {
    margin-right: 9px;
    padding: 0px 0px 0px 3px;
    border-radius: 0px 10px 10px 0px;
}

#custom-l_end {
    margin-left: 9px;
    padding: 0px 3px 0px 0px;
    border-radius: 10px 0px 0px 10px;
}
